h5
{
    text-align: center;
    color: #00695c;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.navbar-fixed .nav-wrapper .brand-logo img
{
    height: 64px;
    width: 64px;
}

.col img
{
    height: 350px;
    width: 500px;
}