/*Title and Navbar styles*/
h5
{
    text-align: center;
    color: #00695c;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}


.navbar-fixed .nav-wrapper .brand-logo img
{
    height: 64px;
    width: 64px;
}

/*About me page styling*/
p 
{
    color: #00695c;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: left;


}

.col img
{
    height: 400px;
    width: 550px;
}


